html *
{
   font-size: 1em;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

body {
    height: 100vh;
    overflow: hidden;
    margin:0;
}

.scroller {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: #333;
    color: white
}

.scroller section {
    scroll-snap-align: start;
    /* border: 5px solid black; */
    height: 100vh;
    /* padding-top:2.5vh; */
    /* padding-bottom: 2.5vh; */
    overflow: hidden;
}

.authenticateSection {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    z-index: 1;
}

.authenticateBtn {
    padding: 20px;
    z-index: 2;
    cursor: pointer;
    font-size: 26px;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.fbAuthenticateBtn { 
    /* color: white; */
    border-bottom: 3px solid rgba(66, 133, 244, 1);
}

.gpAuthenticateBtn {
    border-bottom: 3px solid rgba(15, 157, 88, 1);
    display: none;
}

.authenticateBtn:hover {
    opacity: .5;
    transition: opacity .2s ease-in-out;
}



.loader {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    display: none;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.overallStatsSection {
    font-size: 39px;
    margin: 20px;
    line-height: 1.6;
    position: relative;
}

.overallStatsSection > p {
    position: relative;
    top: 15%;
}

.blurbs {
    display: none
}

.downArrow{
    position: absolute;
    left: 50%;
    display:none;
    cursor: pointer;
    bottom: 0px;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


#monthGraphAndButtons {
    float: left;
    width: 50%;
    display: grid;
    margin:auto;
}

.monthGraphButtons {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    height: 20vh;
}

.monthGraphButtons > div {
    text-decoration:none;
    display: inline-block;
    opacity: 1;
    transition: opacity .5s;
    font-size: 20px;
}

#monthGraphPhotoTakerButton {
    grid-column-start: 1;
    grid-column-end: 2;
}

#monthGraphPhotoSubjectButton {
    grid-column-start: 2;
    grid-column-end: 3;
}

.monthGraphYAxis {
    font: 20px trebuchet;
}

.monthGraphYAxis path {
    stroke: white;
}

.monthGraphYAxis line {
    stroke: white;
}

.monthGraphYAxis text {
    fill: white;
}

.monthGraphXAxis path {
    stroke: white;
}

.monthGraphXAxis line {
    stroke: white;
}

.monthGraphXAxis text {
    fill: white;
}

.monthGraphXAxis {
    font: 20px trebuchet;
}

#monthPhotos {
    width: 50%;
    float: right;
}

.explanation {
    font-size: large;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.explanation-totalTS {
    padding-right: 20px;
}

.explanation-totalPW {
    padding-right: 20px;
}

.slide-in-out-photoTaker {
    display: block;
    height: 3px;
    width: 0%;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    color:white;
    margin:auto; /* center the content so it will slide from the midddle to the left and right */
}

.slide-in-out-subject {
    display: block;
    height: 3px;
    width: 0%;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    
    margin:auto; /* center the content so it will slide from the midddle to the left and right */
}
 
.monthGraphButtons > div:hover {
    cursor: pointer;
    opacity: .5;
}

/* Change the width and background on hover, aka sliding from the middle to the left and right */
.slide-in-out-photoTaker.slide {
    width: 100%;
    background: white;
}

/* Change the width and background on hover, aka sliding from the middle to the left and right */
.slide-in-out-subject.slide {
    width: 100%;
    background: white;
}

#treeMap {
    float: right;
    width: 50%;
    margin:auto;
    /* margin-right: 1px; */
    height:100%;
}

.treeMapSection {
    padding-right:50px;
}

.centeredSVG {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}

#treeMapPhotos {
    float:left;
    width: 50%;
}

.tooltip {
    position: absolute;
    display: block;
    color: white;
    background-color: grey;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    z-index: 13;
    pointer-events: none;
}

.statsSection {
    display: flex;
}

.statsSection > div {
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    font-size: 23px;
    padding: 10px;
    overflow-wrap: break-word;
    width: 33%;
}
.rankingSpot {
    margin: 20px;
    display: flex;
    text-align: center;
}

.rankingSpotValue {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

#clientTakerSubjectGraph {
    float: left;
    width: 50%;
    height:100%;
}

#clientTakerSubjectPhotos {
    float: right;
    width: 50%;
}

#clientPicturedWithPhotos {
    float: left;
    width: 50%;
}

#clientPicturedWithGraph {
    float: right;
    width: 50%;
    height:100%;
}

.displayedPhoto {
    object-fit: contain;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.photoContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
}

#totalPWGraph {
    height:100%;
    width:70%;
    float:left;
}

.networkStats {
    height: 100%;
    width:30%;
    display: grid;
}

.networkStats.TS {
    float:left;
}

.networkStats.PW {
    float: right;
}


#totalTSGraph {
    height:100%;
    width:70%;
    float: right;
}

.userNumBar {
    position: relative;
    color: #666;
    text-align: center;
}

.pplNum {
    display: inline-block;
    vertical-align: bottom;
    /* font-size: 50px; */
    line-height: 60px;
}    

.digit-con, .comma{
    height: 60px;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}
span {
	position: relative;
    flex-direction: row;
}

.question {
    display: flex;
    gap: 30px;
    position: relative;
    margin-top: 30px;
    margin-bottom:30px;
    /* z-index: 1; */
}

.dropdown {
    background-color: #333;
    color: white;
    font-size: 20px;
    width: min-content;
    position: absolute;
    /* z-index: 1; */
}

.dropDownBtn {
    cursor: pointer;
    width: 260px;
    height: 50px;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.options {
    background-color: #333;
    max-height:150px;
    width:260px;
    z-index: 2;
    overflow-y: scroll;
    position: relative;
}

.option {
    cursor:pointer;
    transition: all .2s ease-in-out;
    padding:5px;
    border-bottom: 1px solid white;
    position: relative;
    z-index: 5;

}

.questionSection {
    font-size: 30px;
    padding:30px;
    position:relative;
}

ol {
    line-height: 56px;
  }

.firstDropdown {
    top:-20px;
    left: 200px;
}

.secondDropdown {
    top:-20px;
    left: 600px;
}

.thirdDropdown {
    top:-20px;
    left: 200px;
}

.fourthDropdown {
    top:-20px;
    left: 600px;
}

.fifthDropdown {
    top:-20px;
    left: 200px;
}

.twoYearOld:hover {
    color: #333;
    background-color: #fc8638;
    transition: all .2s ease-in-out;
}

.Andrew:hover {
    color: #333;
    background-color: #f7d038;
    transition: all .2s ease-in-out;
}

.Chimu:hover {
    color: #333;
    background-color: #a3e048;
    transition: all .2s ease-in-out;
}

.Emily:hover {
    color: #333;
    background-color: #49da9a;
    transition: all .2s ease-in-out;
}

.Jiu:hover {
    color: #333;
    background-color: #08fcd8;
    transition: all .2s ease-in-out;
}

.Justin:hover {
    color: #333;
    background-color: #34bbe6;
    transition: all .2s ease-in-out;
}

.Kat:hover {
    color: #333;
    background-color: #8887f5;
    transition: all .2s ease-in-out;
}

.Shirley:hover {
    color: #333;
    background-color: #d23be7;
    transition: all .2s ease-in-out;
}

.Victor:hover {
    color: #333;
    background-color: #fa64d2;
    transition: all .2s ease-in-out;
}

.Yes:hover {
    color: #333;
    background-color: #f748a2;
    transition: all .2s ease-in-out;
}

.No:hover {
    color: #333;
    background-color: #a57df5;
    transition: all .2s ease-in-out;
}
